@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
  --font-jost::"Jost",sans-serif;
  --font-grotesque:"Bricolage Grotesque"
  
}
html{
  scroll-behavior: smooth;
}